* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #444040;
    background-color: #e9e2ea;
    padding: 20px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

nav {
    display: flex;
    gap: 25px;
    font-size: 15px;
}

a {
    color: darkgray;
}

#text01 {
    color: #5e5ef3;
    cursor: pointer;
    font-size: 30px;
}

.ss {
    cursor: pointer;
}

.box02 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: transparent;
}

.cir {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.tt {
    background-color: greenyellow;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.ts {
    display: flex;
    gap: 15px;
}

.ty {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}